<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lop.conne">
    <application>

        <activity android:name="com.lop.conne.Plugin">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.MAIN"/>
                <data android:mimeType="text/plain"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
